body {
    color: white;
    background: black;
    font-family: monospace;
}

a {
    color: cyan;
}

a:visited {
    color: lime;
}

.entry {
    padding: 1em;
    border: 2px white solid;
    margin-top: 1em;
}

.entry img {
    max-height: 10em;
    max-width: 100%;
    height: auto;
    width: auto;
    border: 2px white solid;
    background: white;
}

.entry a {
    word-break: break-word;
}

.link-list {
    list-style-type: none;
    margin: 0;
    padding: 0;   
}

